.pokemon-list {
    display: flex;
    flex-wrap: wrap;
}

.pokemon {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.pokemon:hover {
    background-color: #f2f2f2;
}

.pokemon img {
    width: 100%;
    max-width: 200px;
}

.pokemon-name {
    font-weight: bold;
}

.pokemon-types {
    font-style: italic;
    color: gray;
}

.pokemon-detail {
    margin-top: 20px;
}

.pokemon-detail img {
    max-width: 200px;
}